﻿@model IEnumerable<housePLAN.Models.VM.PropertyAddressVM>

@{
    ViewData["Title"] = "Results";
}

<h1>Search Results</h1>

<p class="border-bottom">

    @{
        string text = Model.Count() == 1 ? "1 entry" : Model.Count() + " entries";
    }
    Found @text for your search
</p>

@foreach (var item in Model)
{
    <div class="search-result">
        <div class="row">
            <div class="col">
                <h1>@item.FullAddressPretty</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                <h2>Detailed Address</h2>
                <dl class="row">

                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Address.BUILDING_NUMBER)
                    </dt>
                    <dd class="col-sm-6">
                        @item.Address.BUILDING_NUMBER
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Address.DEPENDENT_THOROUGHFARE)
                    </dt>
                    <dd class="col-sm-6">
                        @item.Address.DEPENDENT_THOROUGHFARE
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Address.DEPENDENT_LOCALITY)
                    </dt>
                    <dd class="col-sm-6">
                        @item.Address.DEPENDENT_LOCALITY
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Address.POST_TOWN)
                    </dt>
                    <dd class="col-sm-6">
                        @item.Address.POST_TOWN
                    </dd>

                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Address.POSTCODE)
                    </dt>
                    <dd class="col-sm-6">
                        @item.Address.POSTCODE
                    </dd>
                </dl>
            </div>


            <div class="col-12 col-sm-6">
                <h2>Available Files</h2>

                <div>
                    @if (item.HasFiles)
                    {
                        <img src="/img/plans.svg" data-toggle="modal" data-target="#exampleModal" data-abid="@item.Address.Id" class="img-fluid" width="150" />
                    }
                    else
                    {
                        <img src="~/img/no-photo.svg" class="img-fluid" width="150" />
                    }
                </div>

                @*<dl class="row">
                        <dt class="col-sm-6">housePLAN 1a.PDF</dt>
                        <dd class="col-sm-6"><a href="/housePLAN 1a.PDF">Download</a></dd>
                        <dt class="col-sm-6">housePLAN 1b.PDF</dt>
                        <dd class="col-sm-6"><a href="/housePLAN 1b.PDF">Download</a></dd>
                        <dt class="col-sm-6">housePLAN 1c.PDF</dt>
                        <dd class="col-sm-6"><a href="/housePLAN 1c.PDF">Download</a></dd>
                    </dl>*@
            </div>
        </div>
    </div>
}










@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>*@

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Available Files</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var abid = button.data('abid') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-body').load('/downloadplans/listdocs/' + abid);
        })
    </script>
}