﻿@{
    ViewData["Title"] = "About";
}

<div class="row home-wrapper2">
    
    <div class="mt-5 col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2  text-center">
        <h1 class="display-4">Welcome to housePLAN</h1>
        <p>
            housePLAN is a database of professionally drawn property plans, safely stored and searchable for your future use.
        </p>
    </div>

    <div class="mt-5 col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2  text-center">
        <h2>housePLAN for you</h2>
        <p>
            Your plans will be available to you at anytime you require them.  Simply login or <a asp-controller="search">search</a> to database to find the plans you're looking for.
        </p>
        <p>
            For your peace of mind, you have the option to make your properties plans publicly viewable or not.  If you choose not to be public, other members can request access which you will be notified of and be able to approve or deny the requests.
        </p>
    </div>

    <div class="mt-5 col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2  text-center">
        <h2>housePLAN for professionals</h2>
        <p>
            From estate agents to carpet fitters, housePLAN enables you to get precise and accurate plans for properties in order to help in your day to day business activites.
        </p>
    </div>
</div>

<script>
    document.getElementsByClassName('container')[1].classList.remove('container').add('container-fluid');
</script>