﻿@model housePLAN.Models.VM.SearchPropertyVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="search-wrapper">

    <div class=" col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2  text-center home-content-div" style="background-color:none;">
        <h1 class="display-4 font-weight-bold" >Welcome to housePLAN</h1>
        <p class="font-weight-bold">
            Get started by Searching a property below
        </p>
    </div>

    <form asp-action="Results" asp-controller="Search" method="get" class="container home-content-div p-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <dl class="row">

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Postcode)
            </dt>
            <dd class="col-sm-6">
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Street)
            </dt>
            <dd class="col-sm-6">
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </dd>


            <div class="col-sm-6 offset-sm-3 mt-5">
                <button class="btn btn-success btn-block">Show Results</button>
            </div>

        </dl>
    </form>

</div>

<script>
    document.getElementsByClassName('container')[1].classList.remove('container').add('container-fluid');
</script>