﻿@model IEnumerable<housePLAN.Models.FileAttachment>

@{
    ViewData["Title"] = "ListDocs";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Uploaded On
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                <a asp-action="ViewDoc" asp-route-id="@item.Id">Download</a>
            </td>
        </tr>
}
    </tbody>
</table>
