﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color: #555;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


dt {
    text-align: right;
}

@media (max-width: 575px) {
    dt {
        text-align: center;
    }
}

.home-wrapper, .search-wrapper {
    /*background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.9)), url(/img/homebg.jpg);*/
    background-image:  url(/img/homebg.jpg);
    background-repeat: no-repeat;
    background-position:top  center;
    height: 80vh;
}

@media (max-width: 768px) {
    .home-wrapper {
        background-image: url(/img/staticmap-m.jpg);
    }
}

@media (max-width: 640px) {
    .home-wrapper {
        background-image: url(/img/staticmap-s.jpg);
    }
}

@media (max-width: 400px) {
    .home-wrapper {
        background-image: url(/img/staticmap-xs.jpg);
    }
}

.home-content-div {
    background-color: #fff;
    opacity: 0.95;
    text-align: center;
}

.search-wrapper > div {
    padding-top: 6rem;
}

.search-result {
    padding: 24px;
}

    .search-result:nth-child(2n) {
        background-color: #f4f4f5;
    }

    .search-result h1 {
        font-size: 1.5rem;
        font-weight:600;
    }

    .search-result h2 {
        font-size: 1.1rem;
        font-weight:600;
    }
    .search-result dd {
        margin-bottom:0;
    }