﻿@model housePLAN.Models.VM.SearchPropertyVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="">

    <div class=" col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2  text-center" style="background-color:none;">


        <h2 class="font-weight-bold alert alert-warning">
            Find a property to attribute Plans to.
        </h2>

    </div>

    <div  class="container">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <dl class="row">

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Postcode)
            </dt>
            <dd class="col-sm-6">
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Street)
            </dt>
            <dd class="col-sm-6">
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </dd>


            <div class="col-sm-6 offset-sm-3 mt-5">
                <button class="btn btn-success btn-block" onclick="search();">Show Results</button>
            </div>

        </dl>
    </div>

</div>
<div class="mt-5" id="results">

</div>

@section Scripts{
    <script>
        let search = () => {
            let pc = document.getElementById('Postcode').value;
            let st = document.getElementById('Street').value;
            $('#results').load('/fileattachments/results?Postcode=' + pc + '&Street=' + st);
        }
    </script>
}