﻿@model IEnumerable<housePLAN.Models.VM.PropertyAddressVM>

@{
    ViewData["Title"] = "Results";
}

<h1>Search Results</h1>

<p class="border-bottom">

    @{
        string text = Model.Count() == 1 ? "1 entry" : Model.Count() + " entries";
    }
    Found @text for your search
</p>

@foreach (var item in Model)
{
    <div class="search-result">
        <div class="row">
            <div class="col">
                <a asp-action="create" asp-route-id="@item.Address.Id">
                    <h1>@item.FullAddressPretty</h1>
                </a>
            </div>
        </div>

    </div>
}







