﻿@model housePLAN.Models.FileAttachment
@{
    ViewData["Title"] = "Upload";
}


<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">

<h2 class="titlespacing">Upload File</h2>

<div class="row">
    <div class="col text-center">
        @Model.Description
    </div>
</div>


<div class="row">
    <div class="col text-center">

        <input type="file"
               class="filepond"
               id="filepond"
               name="file">

    </div>
</div>

<a asp-action="index">Cancel // Return to Documents</a>



<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>

<script>


    const inputElement = document.querySelector('input[type="file"]');
    FilePond.registerPlugin(FilePondPluginImagePreview);
    const pond = FilePond.create(inputElement);


     FilePond.setOptions({
            server: {
                url: "/fileattachments/upload",
                process:(fieldName, file, metadata, load, error, progress, abort) => {
                    const formData = new FormData();
                    formData.append(fieldName, file, file.name);
                    formData.append("Id", "@Model.Id");

                    const request = new XMLHttpRequest();
                    request.open('POST', '/fileattachments/upload');
                    // Setting computable to false switches the loading indicator to infinite mode
                    request.upload.onprogress = (e) => {
                        progress(e.lengthComputable, e.loaded, e.total);
                    };

                    request.onload = function () {
                    if (request.status >= 200 && request.status < 300) {
                        load(request.responseText);// the load method accepts either a string (id) or an object

                    }
                    else {
                        error('Error during Upload!');
                    }
                };

                request.send(formData);
                //expose an abort method so the request can be cancelled
                return {
                    abort: () => {
                        // This function is entered if the user has tapped the cancel button
                        request.abort();
                        // Let FilePond know the request has been cancelled
                        abort();
                    }
                };
                },
                fetch: null,
             //revert: "revert/",
             revert: (source, load, error) => {
                 console.log(source);
                 console.log(load);
                    const request = new XMLHttpRequest();
                    request.open('DELETE', '/attachment/remove/' + source);
                    // Setting computable to false switches the loading indicator to infinite mode
                    request.upload.onprogress = (e) => {
                        progress(e.lengthComputable, e.loaded, e.total);
                    };
                    request.onload = function () {
                        if (request.status >= 200 && request.status < 300) {
                            load();// the load method accepts either a string (id) or an object
                        }
                        else {
                            error('Error while removing file!');
                        }
                    }
                    request.send(null);
                }
            }
        })

</script>